<!DOCTYPE html>
@using MvcMusicStore.FeaturetoggleSwitches;
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" 
        type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-3.1.0.min.js")" 
        type="text/javascript"></script>
    <script type="text/javascript">  var appInsights = window.appInsights || function (config) { function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(s); try { t.cookie = u.cookie } catch (h) { } for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t }({ instrumentationKey: "6e6b152b-bf18-4fa3-b8d9-46390a8a40f8" }); window.appInsights = appInsights; appInsights.trackPageView();</script>
</head>
<body>
    <div id="header">
        <div>
            <h1><a href="/">Welcome to the ASP.NET MVC MUSIC STORE!</a></h1>
            @if (new HomePagefeatureToggleUI().FeatureEnabled)
            {
                <h1><a href="/">You are comming from location:@ViewBag.CustomerCountry</a></h1>
            }
        </div>
        <ul id="navlist">
            <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
            <li><a href="@Url.Content("~/Store/")">Store</a></li>
            <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
            <li><a href="@Url.Content("~/StoreManager/")">Admin</a></li>
        </ul>        
    </div>

    @{Html.RenderAction("GenreMenu", "Store");}

    <div id="main">
        @RenderBody()
    </div>
    @{ 
        var hpftUI = new HomePagefeatureToggleUI();
        var hpft = new HomePagefeatureToggle();
        var svc = new ServiceAFeaturetoggle();
    }
    <div id="footer"> 
        <span>HomePagefeatureToggleUI =<b>@hpftUI.FeatureEnabled</b></span>|
        <span>HomePagefeatureToggle = <b>@hpft.FeatureEnabled</b></span>|
        <span>ServiceAFeaturetoggle =<b> @svc.FeatureEnabled</b></span>|
        <span>built with <a href="http://asp.net/mvc">ASP.NET MVC 3</a></span>
        <span>version: __Build.Version__</span>
    </div>
</body>
</html>